{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="bg-[url('/static/images/auth.svg')] bg-cover bg-center min-h-screen w-full flex justify-center items-center">
    <div class="w-[662px] h-[546px] p-10 bg-white rounded-[20px] flex-col justify-start items-center gap-10 inline-flex shadow-lg">
        <div class="self-stretch h-[312px] flex-col justify-start items-center gap-5 flex">
            <div class="text-black text-6xl font-normal font-['Fabled'] leading-[84px]">Login</div>
            <form method="POST" action="{% url 'authentication:login' %}">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="self-stretch h-[94px] flex-col justify-start items-start gap-2 flex">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
                <div class="self-stretch h-[94px] flex-col justify-start items-start gap-2 flex">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    {{ form.password.errors }}
                </div>
                <button type="submit" class="self-stretch h-[46px] px-5 py-3 bg-[#d88e30] rounded-lg flex justify-center items-center gap-2.5 cursor-pointer hover:bg-[#bf7428]">
                    <span class="text-white text-base font-semibold font-['Poppins'] leading-snug">Submit</span>
                </button>
            </form>
        </div>
        <div class="text-center">
            <span class="text-black text-xl font-normal font-['Poppins'] leading-7">Don’t have an account? </span>
            <a href="{% url 'authentication:register' %}" class="text-[#d88e30] text-xl font-normal font-['Poppins'] underline leading-7 cursor-pointer">Sign Up</a>
        </div>
    </div>
</div>
{% endblock content %}
