{% extends 'base.html' %}

{% block content %}
<div class="bg-[url('/static/images/auth.svg')] bg-cover bg-center min-h-screen w-full flex justify-center items-center">
    <!-- Card Sign Up -->
    <div class="w-[662px] h-[660px] p-10 bg-white rounded-[20px] flex-col justify-start items-center gap-10 inline-flex shadow-lg">
        <div class="self-stretch h-[426px] flex-col justify-start items-center gap-5 flex">
            <div class="text-black text-6xl font-normal font-['Fabled'] leading-[84px]">Sign Up</div>
            <div class="self-stretch h-[94px] flex-col justify-start items-start gap-2 flex">
                <div class="self-stretch text-black text-xl font-normal font-['Poppins'] leading-7">Username</div>
                <input type="text" class="self-stretch h-[58px] rounded-lg border border-[#d88e30] px-4" placeholder="Enter your username">
            </div>
            <div class="self-stretch h-[94px] flex-col justify-start items-start gap-2 flex">
                <div class="self-stretch text-black text-xl font-normal font-['Poppins'] leading-7">Password</div>
                <input type="password" class="self-stretch h-[58px] rounded-lg border border-[#d88e30] px-4" placeholder="Enter your password">
            </div>
            <div class="self-stretch h-[94px] flex-col justify-start items-start gap-2 flex">
                <div class="self-stretch text-black text-xl font-normal font-['Poppins'] leading-7">Password Confirmation</div>
                <input type="password" class="self-stretch h-[58px] rounded-lg border border-[#d88e30] px-4" placeholder="Confirm your password">
            </div>
        </div>
        <div class="self-stretch h-[46px] px-5 py-3 bg-[#d88e30] rounded-lg flex justify-center items-center gap-2.5 cursor-pointer hover:bg-[#bf7428]">
            <span class="text-white text-base font-semibold font-['Poppins'] leading-snug">Register</span>
        </div>
        <div class="text-center">
            <span class="text-black text-xl font-normal font-['Poppins'] leading-7">Already have an account? </span>
            <a href="{% url 'login' %}" class="text-[#d88e30] text-xl font-normal font-['Poppins'] underline leading-7 cursor-pointer">Login</a>
        </div>
    </div>
</div>
{% endblock content %}
