{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<form method="post" action="{% url 'authentication:register' %} " class="w-full">
    {% csrf_token %}
    <div class="bg-[url('/static/images/authe.svg')] bg-cover bg-center min-h-screen w-full flex justify-center items-center px-4 py-32">
        <div class="w-[662px] h-[888px] p-10 bg-white rounded-[20px] flex-col justify-start items-center gap-10 inline-flex">
            <div class="self-stretch h-[654px] flex-col justify-start items-center gap-5 flex">
                <div class="text-black text-6xl font-normal font-['Fabled'] leading-[84px]">Sign Up</div>

                <div class="self-stretch h-[94px] flex-col justify-start items-start gap-2 flex">
                    <div class="self-stretch text-black text-xl font-normal font-['Poppins'] leading-7">{{ form.nama.label }}</div>
                    <div class="self-stretch h-[58px] rounded-lg border border-[#d88e30] flex items-center pl-3"> 
                        {{ form.nama }}
                    </div>
                    {{ form.nama.errors }}
                </div>

                <div class="self-stretch h-[94px] flex-col justify-start items-start gap-2 flex">
                    <div class="self-stretch text-black text-xl font-normal font-['Poppins'] leading-7">{{ form.username.label }}</div>
                    <div class="self-stretch h-[58px] rounded-lg border border-[#d88e30] flex items-center pl-3"> 
                        {{ form.username }}
                    </div>
                    {{ form.username.errors }}
                </div>

                <div class="self-stretch h-[94px] flex-col justify-start items-start gap-2 flex">
                    <div class="self-stretch text-black text-xl font-normal font-['Poppins'] leading-7">{{ form.password1.label }}</div>
                    <div class="self-stretch h-[58px] rounded-lg border border-[#d88e30] flex items-center pl-3"> 
                        {{ form.password1 }}
                    </div>
                    {{ form.password1.errors }}
                </div>

                <div class="self-stretch h-[94px] flex-col justify-start items-start gap-2 flex">
                    <div class="self-stretch text-black text-xl font-normal font-['Poppins'] leading-7">{{ form.password2.label }}</div>
                    <div class="self-stretch h-[58px] rounded-lg border border-[#d88e30] flex items-center pl-3"> 
                        {{ form.password2 }}
                    </div>
                    {{ form.password2.errors }}
                </div>
            </div>

            <button type="submit" class="self-stretch h-[46px] bg-[#d88e30] rounded-lg flex justify-center items-center hover:bg-[#bf7428] transition duration-200">
                <div class="text-white text-base font-semibold font-['Poppins'] leading-snug">Register</div>
            </button>        

            <div class="text-center">
                <span class="text-black text-lg font-normal font-['Poppins']">Already have an account? </span>
                <a href="{% url 'authentication:login' %}" class="text-[#d88e30] text-lg font-normal font-['Poppins'] underline hover:text-[#5B3C14] transition duration-200">Login</a>
            </div>
        </div>
    </div>
</form>

{% endblock content %}
