{% extends 'base.html' %}

{% block meta %}
    <title>Tambah Batik</title>
{% endblock meta %}

{% block content %}
    <!-- Form Container -->
    <div class="max-w-md mx-auto p-6 bg-white rounded-lg shadow-lg">
        <h1 class="text-center font-family-Fabled text-black text-3xl mb-6">Tambah Batik</h1>

        <!-- Form untuk menambahkan entri baru -->
        <form method="POST" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}
            {{ form.as_p }}

            <!-- Submit Button -->
            <div class="mt-6">
                <button type="submit" class="w-full bg-[#D88E30] text-white font-semibold py-3 rounded-lg">Submit</button>
            </div>
        </form>
    </div>
{% endblock content %}
