{% load static %}
<nav class="sticky top-0 z-10 w-[1440px] h-[71px] px-20 py-4 flex justify-between items-center bg-[url('/static/images/image_navbar.svg')] bg-cover bg-center">
    <div class="grow shrink basis-0 h-[39px] flex justify-start items-center gap-4">
        <a href="{% url 'main:main_landing_page' %}" class="flex items-center">
            <img src="/static/images/logo.svg" alt="Logo Batikalongan" class="h-[39px]"> <!-- Logo di sini -->
            <div class="text-white text-[28px] font-normal font-['Fabled'] leading-[39.20px] ml-4">Batikalongan</div> <!-- Menambahkan margin-left -->
        </a>
    </div>
    <div class="flex justify-start items-center gap-[60px]">
        <a href="{% url 'catalog:show_catalog' %}" class="text-white text-base font-medium font-['Poppins'] leading-snug cursor-pointer hover:text-[#996522]">Catalog</a>
        <div class="text-white text-base font-medium font-['Poppins'] leading-snug cursor-default">Event</div>
        <a href="{% url 'gallery:show_gallery' %}" class="text-white text-base font-medium font-['Poppins'] leading-snug cursor-pointer hover:text-[#996522]">Gallery</a>
        <a href="{% url 'article:article_list' %}" class="text-white text-base font-medium font-['Poppins'] leading-snug cursor-pointer hover:text-[#996522]">Article</a>
        <div class="text-white text-base font-medium font-['Poppins'] leading-snug cursor-default">Timeline</div>
    </div>
</nav>
